* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 0.8px;
} 
.header {
    background-color: #262423;
    padding: 20px 0;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.menu,
.button_container {
    display: none;
}
 
.menu_header {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 50vw;
    height: 100vh;
    background-color: #262423;
    z-index: 1000;
    transition: 0.5s;
}

.cancel {
    position: absolute;
    top: 20rem;
    right: 20rem;
}

.menu_header a {
    display: block;
    padding: 5rem 10rem;
    font-size: 34rem;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.header a {
    font-family: 'Noto Sans', serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.menu nav {
    display: flex;
    justify-content: center;
    column-gap: 45px;
}

.flex_between {
    display: flex;
    justify-content: space-between;
    gap: 20rem;
}

.menu nav :hover {
    display: flex;
    justify-content: center;
    column-gap: 45px;
    color: #3C8527;
}


.button_container a {
    display: flex;
    padding: 6px 12px;
    background: #3C8527;
    border: 2px solid #52A535;
    text-decoration: none;
    font-family: 'Noto Sans', serif;
    font-size: 12px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    width: 60px;
}

.button_container a:hover {
    display: flex;
    background: #54cd32;
    border: 2px solid #52A535;
    text-decoration: none;
    font-family: 'Noto Sans', serif;
    font-size: 12px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    width: 60px;
}

.Discover_our_games {
    background-color: #171615;
    padding: 48px 60px 40px;
}

.Discover_our_games h1 {
    font-family: 'Minecraft Ten', serif;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.Discover_our_games a {
    display: block;
    margin-bottom: 48px;
    text-align: center;
    font-weight: bold;
    color: #6cc349;
}


.Discover_our_games a:hover {
    display: block;
    margin-bottom: 48px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.How_it_works .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.cards h3 {
    display: block;
    text-align: center;
}

.card p {
    display: block;
    text-align: center;
}

.Newest_news img {
    width: 266px;
    height: 266px;
}

.Discover_our_games h2 {
    margin: 10px;
    font-family: 'Noto Sans', serif;
    font-size: 24px;
    letter-spacing: 0.94px;
    color: #fff;
    text-align: center;
}

.Discover_our_games p {
    font-size: 14px;
    line-height: 24px;
    color: #aba09c;
    text-align: center  ;
}

.Newest_news {
    background-color: #262423;
}

.Newest_news h2 {
    font-family: 'Minecraft Ten', serif;
    font-size: 56px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.Newest_news a {
    display: block;
    margin-bottom: 48px;
    text-align: center;
    font-weight: bold;
    color: #6cc349;
}


.Newest_news a:hover {
    display: block;
    margin-bottom: 48px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.Newest_news .cards h3 {
    display: inline-block;
    font-size: 14px;
    font-family: 'Minecraft Seven', serif;
    letter-spacing: 0.56px;
    text-align: center;
    background: #fff;
    margin-bottom: 6px;
    color: #000;
}

.Newest_news p {
    font-family: 'Minecraft Seven', serif;
    color: #fff;
    line-height: 24px;
}

.How_it_works {
    background-color: #4f1030;
    padding: 30px;
}

.How_it_works p {
    display: block;
    text-align: center;
}

.How_it_works h2 {
    font-family: 'Minecraft Ten', serif;
    font-size: 56px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.How_it_works h3 {
    font-size: 24px;
    font-family: "Minecraft Seven", serif;
    font-weight: 400;
    margin-bottom: 16px;
    color: #fff;
}

.How_it_works p {
    display: block;
    color: #fff;
}

.text {
    background-color: #171615;
    color: #fff;
    display: block;
    padding: 30px;
}

.footer {
    background-color: #313131;
}

.footer a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1440px;
    padding: 32px 24px 27px 9px;
}

.footer a:hover {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1440px;
    padding: 32px 24px 27px 9px;
    text-decoration: underline;
}

.footer nav {
    display: flex;
    justify-content: center;
    column-gap: 45px;
}

.footer p img {
    padding: 0 0 15px 0;
}

.footer .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_container {
    min-height: 70vh;
    background: url(../img/header_bg.jpg) no-repeat center/cover;
}

.Discover_our_games p {
    text-align: left;
}

.cards>.card p {
    padding: 0 80px 0 0;
}

body {
    cursor: url("../img/cursor.png"), auto;
}

a,
button {
    cursor: url("../img/klik.png"), pointer;
}

figcaption {
    position: relative;
}

img {
    width: 100%;
}

.figure_text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    text-align: left;
}

h3,
p {
    margin: 0;
}

.Newest_news p,
a {
    font-size: 14px;
    line-height: 24px;
}

.How_it_works p {
    font-size: 14px;
    line-height: 24px;
}

.text p {
    font-size: 14px;
    line-height: 24px;
}

.burger {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.burger span {
    width: 100%;
    height: 5px;
    background-color: #518315;
    border-radius: 3px;
}



@media screen and (min-width:768px) {
    
    html {
        font-size: 0.85px
    }

    .card {
        width: 45%;
    }

    .card img {
        width: 100%;
        max-width: 517rem;
        max-height: 517rem;
    }

}

@media screen and (min-width:1200px) {
    html {
        font-size: 1px;
    }

    .menu,
    .button_container {
        display: block;
    }

    .cards {
        flex-wrap: nowrap;
    }

    .menu {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
    }

    .menu_header ul{
        display: flex;
        justify-content: space-between;
    }

    .cancel{
        display: none;
    }

    .burger {
        display: none;
    }
}

@media screen and (min-width:1920px) {
    html {
        font-size: 1.3px;
    }
}

@media screen and (min-width:2200px) {
    html {
        font-size: 2.5px;
    }
}
